<div class="container">
    <div class="row">
        <div class="col-md-9 margin-btm-40 margin-top-20">
            <h3>Objetivos de la asociación</h3>
            <hr>
            <div class="space30"></div>
            <div class="row margin-left-60">
                    <p>

 Estos son nuestros principales objetivos


Los objetivos de la asociación se dividen en tres niveles, los que van desde objetivos de corto plazo en el primer nivel hasta objetivos de largo plazo en el tercero:

Nivel 1: Apoyar a investigadores chilenos durante toda su estadía en Suiza.

Crear una plataforma de información para investigadores y estudiantes en Chile interesados en Suiza en busca de oportunidades académicas y profesionales.
Facilitar la integración de nuevos investigadores y estudiantes chilenos en Suiza.
Fortalecer los lazos académicos y científicos entre investigadores, académicos, estudiantes y profesionales chilenos viviendo en Suiza.
Nivel 2: Promover la colaboración científica y profesional entre personas e instituciones chilenas y suizas.

Crear una plataforma donde investigadores y estudiantes chilenos y suizos compartan información, resuelvan dudas y encuentren socios de colaboración u oportunidades laborales en ambos países.
Incentivar el desarrollo de proyectos e iniciativas científicas y académicas en ambos países.
Mostrar Chile en Suiza como una valiosa oportunidad para la cooperación científica.
Nivel 3: Participar en la discusión sobre el desarrollo científico y académico en Chile.

Participar y colaborar con distintas asociaciones y redes de investigadores chilenos en el extranjero.
Contribuir desde nuestra experiencia al desarrollo de políticas para la reintegración de investigadores y estudiantes que vuelven a Chile. En particular, buscamos ayudar a los estudiantes que participan del programa Becas Chile.
                    </p>
            
            </div>
        </div>
    </div>
</div>