<div class="container">
    <div class="row">
        <div class="col-md-9 margin-btm-40 margin-top-20">
            <h3>¿Qué motiva a ICES?</h3>
            <hr>
            <div class="space30"></div>
            <div class="row margin-left-60">
                    <p>
ICES busca ser un aporte a la colaboración académica y profesional entre Chile y Suiza. Basados en nuestras experiencias académicas y profesionales en Suiza, creemos que existe un amplio espacio para la colaboración científica y profesional entre personas e instituciones suizas y chilenas. Creemos que la vida académica, profesional e incluso personal de los investigadores chilenos en Suiza se puede beneficiar de los consejos y experiencias pasadas de chilenos que ya se encuentran trabajando en Suiza. Nuestra motivación principal es crear un espacio donde los investigadores chilenos desempeñándose en Suiza puedan contactarse, intercambiar experiencias y explorar nuevos desafíos académicos junto a organizaciones chilenas y suizas, así como también ser una plataforma de información para facilitar el intercambio de estudiantes chilenos en Suiza.
                    </p>
            
            </div>
        </div>
    </div>
</div>