<div class="container">
    <div class="row">
        <div class="col-md-9 margin-btm-40 margin-top-20">
            <h3>¿Quiénes somos?</h3>
            <hr>
            <div class="space30"></div>
            <div class="row margin-left-60">
                    <p>
ICES (Investigadores Chilenos en Suiza) es una asociación sin fines de lucro conformada por un grupo de investigadores, académicos, estudiantes y profesionales que desarrollan sus respectivas actividades en Suiza, interesados en aportar a la colaboración chileno-suiza en todas las áreas de la investigación y el conocimiento.
                    </p>
            
            </div>
        </div>
    </div>
</div>