
        <div class="container">
            <div class="row contact-row">
                <div class="col-sm-8 margin-btm-30">
                    <h3>Contáctese con nosotros!</h3>
                    <p>
                        {{'CONTACT_TEXT' | translate}}
                    </p>
                    <div class="space30"></div>
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                     <label>{{'NAME_CONTACT' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="John Doe">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                     <label>{{'MAIL_CONTACT' | translate}}</label>
                                    <input type="email" class="form-control" placeholder="john@mail.com">
                                </div>
                            </div>
                        </div>
                         <div class="form-group">
                            <label>{{'SUBJECT_CONTACT' | translate}}</label>
                            <textarea class="form-control" placeholder="Enter your message here" rows="6"></textarea>
                        </div>
                        <div class="form-group">
                            <label>{{'MESSAGE_CONTACT' | translate}}</label>
                            <textarea class="form-control" placeholder="Enter your message here" rows="6"></textarea>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-skin btn-lg">{{'SUBMIT_CONTACT' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>