<script>
                $(document).ready(function() {
                $('.event-details').css('display','none');
                $('.event-details').css('height','auto');
                $('.event-details').css('margin-top','-17px');
                $('.event-details > .info').css('height','auto');
                $('.disabled').prev().css('cursor','default');
                
                
                $('.event-list > li').click(function() {
                    if (!$(this).nextAll('.event-details').first().hasClass('disabled')) {
                        //$(this).nextAll('.event-details').first().height('auto');
                        $(this).nextAll('.event-details').first().nextAll('.info').first().height('auto');
                        $(this).nextAll('.event-details').first().slideToggle();
                    }
                });
            })
</script>
<div class="container">
    <div class="row">
         <div class="col-md-9 margin-btm-40 margin-top-20">
            <h3>{{'TITLE_EVENT' | translate}}</h3>
                <hr>
               <div class="container">
                    <div class="row">
                        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                            <ul class="event-list">
                                <li>
                                    <time datetime="20-05-2017">
                                        <span class="day">20</span>
                                        <span class="month">{{'MAY' | translate}}</span>
                                        <span class="year">2017</span>
                                        <span class="time">ALL DAY</span>
                                    </time>
                                    <img alt="{{'MEETUP_BERNA' | translate}}" src="images/imgBerna.jpg" />
                                    <div class="info">
                                        <h2 class="title">{{'MEETUP2017' | translate}}</h2>
                                        <p class="desc">{{'ICES_BERNA' | translate}}</p>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                            <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="event-details">
                                    <div class="info" style="height:auto">
                                        <p class="desc">{{'BREAK1_BERN' | translate}}<br> {{'BREAK2_BERN' | translate}}<br>
                                        {{'BREAK3_BERN' | translate}}<br>
                                        {{'BREAK4_BERN' | translate}}<br>
                                        {{'BREAK5_BERN' | translate}}<br>
                                        {{'BREAK6_BERN' | translate}}<br>
                                        <br>   
                                        {{'BREAK7_BERN' | translate}}<br>
                                        {{'BREAK8_BERN' | translate}}
                                        </p>    
                                    </div>
                                    <li>
                                    <time datetime="07-05-2016">
                                        <span class="day">07</span>
                                        <span class="month">{{'MAY' | translate}}</span>
                                        <span class="year">2016</span>
                                        <span class="time">ALL DAY</span>
                                    </time>
                                    <img alt="Encuentro 2016 ICES en Ginebra" src="images/imgGinebra.jpg" />
                                    <div class="info">
                                        <h2 class="title">{{'MEETUP_2016' | translate}}</h2>
                                        <p class="desc">{{'ICES_GINEBRA' | translate}}</p>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                            <li class="twitter" style="width:34%;"><a href="https://twitter.com/intent/tweet"><span class="fa fa-twitter"></span></a></li>
                                            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="event-details">
                                    <div class="info" style="height:auto">
                                        <p class="desc">{{'BREAK1_GINEBRA' | translate}}<br>
                                        {{'BREAK2_GINEBRA' | translate}}<br>
                                        {{'BREAK3_GINEBRA' | translate}}<br>
                                         <table class="table desc">
                                                <thead>
                                                <tr>
                                                    <th><img src="images/andres-couve.jpg" class="imgEvent"></th>
                                                    <th><img src="images/alejandra-mizala.jpg" class="imgEvent"></th>
                                                    <th><img src="images/rodrigo-palma.jpg" class="imgEvent" width="250px"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{'PROF_COUVE' | translate}}</td>
                                                        <td>{{'PROF_MIZALA' | translate}}</td>
                                                        <td>{{'PROF_PALMA' | translate}}</td>
                                                    </tr>                      
                                                    </tbody>
                                            
                                            </table></p>
                                        <p class="desc">
                                        {{'BREAK4_GINEBRA' | translate}}<br>
                                        {{'BREAK5_GINEBRA' | translate}}<br>
                                        {{'BREAK6_GINEBRA' | translate}}<br>
                                        {{'BREAK7_GINEBRA' | translate}}}<br>
                                        {{'BREAK8_GINEBRA' | translate}}<br>
                                        {{'BREAK9_GINEBRA' | translate}}<br>
                                        {{'BREAK10_GINEBRA' | translate}}<br>
                                        {{'BREAK11_GINEBRA' | translate}}<br>
                                        {{'BREAK12_GINEBRA' | translate}}<br>
                                        {{'BREAK13_GINEBRA' | translate}} </p> 
                                    </div>
                                </li>
                                  <li>
                                    <time datetime="23-05-2015">
                                        <span class="day">23</span>
                                        <span class="month">{{'MAY' | translate}}</span>
                                        <span class="year">2015</span>
                                        <span class="time">ALL DAY</span>
                                    </time>
                                    <img alt="Encuentro 2015 ICES en Zürich" src="images/imgZurich.jpg" />
                                    <div class="info">
                                        <h2 class="title">{{'MEETUP2016' | translate}}</h2>
                                        <p class="desc">{{'ICES_FIRST' | translate}}</p>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                            <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="event-details">
                                    <div class="info" style="height:auto">
                                        <p class="desc">{{'BREAK1_FIRST' | translate}}<br>
                                                {{'BREAK2_FIRST' | translate}}<br>
                                                {{'BREAK3_FIRST' | translate}}<br>
                                                SEMINARIO <br>
                                                <strong>{{'BREAK4_FIRST' | translate}}</strong><br>
                                                {{'BREAK5_FIRST' | translate}}<br>
                                                <strong>{{'BREAK6_FIRST' | translate}} </strong><br>
                                                {{'BREAK7_FIRST' | translate}}
                                                {{'BREAK8_FIRST' | translate}}<br>
                                                <strong>{{'BREAK9_FIRST' | translate}}</strong><br>
                                                {{'BREAK10_FIRST' | translate}}
                                                {{'BREAK11_FIRST' | translate}}
                                        </p>    
                                    </div>
                                    </li>
                                </li>
                            </ul>
                        </div>
                    </div>
	            </div>
 
        </div>
    </div>    
</div>