<div class="container">
    <div class="row">
        <div class="col-md-9 margin-btm-40 margin-top-20">
            <h3>{{'TITLE_INTERVIEWS' | translate}}</h3>
                <hr>
                    <div class="space30"></div>
                        <div class="row margin-left-30 margin-right-30">
                            <strong>{{'DESC_INTERVIEW' | translate}}</strong>
                                <p>
                                <img src="images/macarenaGarcia.jpeg" class="alignFotoRight">
                                </p>  
                                <p>
                                {{'PARAGRAPH_MACARENA' | translate}}
                                </p>
                                <p>
                                {{'PARAGRAPH_MACARENA2' | translate}}
                                </p>
                                    <div class="list-group-item strong">{{'QUESTION_MACARENA' | translate}}</div>
                                       <div class="padding20"> {{'ANSWER_MACARENA' | translate}}</div>
                                    <div class="list-group-item strong">{{'QUESTION_MACARENA2' | translate}}</div>
                                       <div class="padding20"> {{'ANSWER_MACARENA2' | translate}}</div>
                                       <div class="list-group-item strong">{{'QUESTION_MACARENA3' | translate}}</div>
                                       <div class="padding20"> {{'ANSWER_MACARENA3' | translate}}</div>
                                       <div class="list-group-item strong">{{'QUESTION_MACARENA4' | translate}}</div>
                                       <div class="padding20"> {{'ANSWER_MACARENA4' | translate}}</div>
                                       <div class="list-group-item strong">{{'QUESTION_MACARENA5' | translate}}</div>
                                       <div class="padding20"> {{'ANSWER_MACARENA5' | translate}}</div>
                                       <div class="list-group-item strong">{{'QUESTION_MACARENA6' | translate}}</div>
                                       <div class="padding20"> {{'ANSWER_MACARENA6' | translate}}</div>
                                       <div class="list-group-item strong">{{'QUESTION_MACARENA7' | translate}}</div>
                                       <div class="padding20"> {{'ANSWER_MACARENA7' | translate}}</div>
                                    
                                                        


                        
                        </div>
        </div>
    </div>
</div>                    
<div class="space70"></div>
        <div class="newsletter-section">
            <div class="container">
            </div>
        </div>   