<div class="fullwidthbanner">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE -->
            <!-- <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Care your family">
                &lt;!&ndash; MAIN IMAGE &ndash;&gt;
                <img src="images/bg-1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption slider-title dark sft"
                        data-x="50"
                        data-y="160"
                        data-speed="1000"
                        data-start="1000"
                        data-easing="easeOutExpo">
                    ICES está conformada por investigadores, académicos, estudiantes y profesionales que trabajan en Suiza <br>
                    <span class="colored-text">Learn Better</span>
                </div>
                <div class="caption slider-caption dark sfl"
                        data-x="50"
                        data-y="310"
                        data-speed="1000"
                        data-start="1800"
                        data-easing="easeOutExpo">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <br>
                    lectus. Cras porta nisl at tincidunt tincidunt.
                </div>
                <div class="caption sfb rev-buttons tp-resizeme"
                        data-x="50"
                        data-y="380"
                        data-speed="500"
                        data-start="1800"
                        data-easing="Sine.easeOut">
                    <a href="#" class="btn btn-skin btn-lg">Learn more <i class="fa fa-angle-right"></i></a>
                </div>
            </li>-->
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Solid team">
                <!-- MAIN IMAGE -->
                <img src=" images/foto-oficial-encuentro-2016-1024x591.gif"  alt="Foto oficial encuentro 2016"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption slider-title light sft title"
                        data-x="50"
                        data-y="50"
                        data-speed="1000"
                        data-start="1000"
                        data-easing="easeOutExpo">
                        ICES<br>
                    <span class="colored-text"></span>
                </div>
                <div class="caption slider-caption light sfl"
                        data-x="50"
                        data-y="120"
                        data-speed="1000"
                        data-start="1800"
                        data-easing="easeOutExpo">
                    Está conformada por investigadores, académicos, estudiantes y profesionales que trabajan en Suiza <br>

                </div>

            </li>
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Quality Services">
                <!-- MAIN IMAGE -->
                <img src="images/fotoPrincipal.jpg"  alt="Foto directiva"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption slider-title dark sft"
                        data-x="50"
                        data-y="200"
                        data-speed="1000"
                        data-start="1000"
                        data-easing="easeOutExpo">

                </div>

                <div class="caption slider-caption dark sfl"
                        data-x="50"
                        data-y="290"
                        data-speed="1000"
                        data-start="1800"
                        data-easing="easeOutExpo">
                        <br>
                </div>
            </li>
        </ul>
    </div>
</div><!--full width banner-->
<!--revolution end-->

<!--call to action-->
<div class="newsletter-section">
    <div class="container">
        <div class="center-heading margin-btm-50">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Collaborators / Partner</h3>
                    <p>
                        Thousands of teenagers across the UK will have school lessons in mindfulness in an experiment designed to see if it can protect against mental illness.
                    </p>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="space20"></div>
                    <a href="#" class="btn btn-lg btn-border-white">Benefits of being a member <i class="fa fa-edit"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>
<!--<div class="cta-skin">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-8">-->
                <!--<h3>Collaborators / Partner</h3>-->
                <!--<p>-->
                    <!--Thousands of teenagers across the UK will have school lessons in mindfulness in an experiment designed to see if it can protect against mental illness.-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-sm-4 text-right">-->
                <!--<div class="space20"></div>-->
                <!--<a href="#" class="btn btn-lg btn-border-white">Benefits of being a member <i class="fa fa-edit"></i></a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--end call to action-->
<div class="space70"></div>
<div class="container">
    <!--<div class="row">-->
        <!--<div class="col-md-3 col-sm-6 margin-btm-30">-->
            <!--<div class="blue-boxe">-->
                <!--<i class="fa fa-graduation-cap"></i>-->
                <!--<h3>Trending courses</h3>-->
                <!--<p>-->

                    <!--It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. -->
                <!--</p>-->
                <!--<a href="#">Learn More <i class="fa fa-caret-right"></i></a>-->
            <!--</div>&lt;!&ndash;Blue Boxes&ndash;&gt;-->
        <!--</div>&lt;!&ndash;Col&ndash;&gt;-->
        <!--<div class="col-md-3 col-sm-6 margin-btm-30">-->
            <!--<div class="blue-boxe">-->
                <!--<i class="fa fa-users"></i>-->
                <!--<h3>CERTIFIED TEACHERS</h3>-->
                <!--<p>-->

                    <!--It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. -->
                <!--</p>-->
                <!--<a href="#">Learn More <i class="fa fa-caret-right"></i></a>-->
            <!--</div>&lt;!&ndash;Blue Boxes&ndash;&gt;-->
        <!--</div>&lt;!&ndash;Col&ndash;&gt;-->
        <!--<div class="col-md-3 col-sm-6 margin-btm-30">-->
            <!--<div class="blue-boxe">-->
                <!--<i class="fa fa-book"></i>-->
                <!--<h3>BOOKS & LIBRARY</h3>-->
                <!--<p>-->

                    <!--It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. -->
                <!--</p>-->
                <!--<a href="#">Learn More <i class="fa fa-caret-right"></i></a>-->
            <!--</div>&lt;!&ndash;Blue Boxes&ndash;&gt;-->
        <!--</div>&lt;!&ndash;Col&ndash;&gt;-->
        <!--<div class="col-md-3 col-sm-6 margin-btm-30">-->
            <!--<div class="blue-boxe">-->
                <!--<i class="fa fa-play"></i>-->
                <!--<h3>Videos</h3>-->
                <!--<p>-->

                    <!--It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. -->
                <!--</p>-->
                <!--<a href="#">Learn More <i class="fa fa-caret-right"></i></a>-->
            <!--</div>&lt;!&ndash;Blue Boxes&ndash;&gt;-->
        <!--</div>&lt;!&ndash;Col&ndash;&gt;-->
    <!--</div>&lt;!&ndash;row&ndash;&gt;-->
</div><!--container-->
<div class="space40"></div>
<div class="container">
    <!--<div class="row">-->
        <!--<div class="col-sm-6 col-sm-offset-3">-->
            <!--<div class="center-heading margin-btm-50">-->
                <!--<h2>Trending Courses</h2>-->
                <!--<span class="border-width"></span>-->
                <!--<p>It is a long established fact that a reader will be distracted by the readable content</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash;center title end&ndash;&gt;-->
    <!--<div class="carouse_row">-->
        <!--<div id="item-slider" class="owl-carousel">-->
            <!--<div class="item">-->
                <!--<div class="course-box">-->
                    <!--<a class="thumb" href="#">-->
                        <!--<img src="images/g1.jpg" alt="" class="img-responsive">-->
                        <!--<span class="price-tag skin">$599</span>-->
                    <!--</a>-->
                    <!--<div class="course-desc">-->
                        <!--<h4><a href="#">Photoshop psd design</a></h4>-->
                        <!--<span>By John Doe</span>-->
                        <!--<div class="desc-footer">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-6">-->
                                    <!--<span><i class="fa fa-users"></i> 765</span> -->
                                <!--</div>-->
                                <!--<div class="col-xs-6 text-right">-->
                                    <!--<a href="#">Apply <i class="fa fa-edit"></i></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div> &lt;!&ndash;course-box&ndash;&gt;-->
            <!--</div>&lt;!&ndash;item&ndash;&gt;-->
            <!--<div class="item">-->
                <!--<div class="course-box">-->
                    <!--<a class="thumb" href="#">-->
                        <!--<img src="images/g2.jpg" alt="" class="img-responsive">-->
                        <!--<span class="price-tag skin">$199</span>-->
                    <!--</a>-->
                    <!--<div class="course-desc">-->
                        <!--<h4><a href="#">Marketing</a></h4>-->
                        <!--<span>By John Doe</span>-->
                        <!--<div class="desc-footer">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-6">-->
                                    <!--<span><i class="fa fa-users"></i> 165</span> -->
                                <!--</div>-->
                                <!--<div class="col-xs-6 text-right">-->
                                    <!--<a href="#">Apply <i class="fa fa-edit"></i></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div> &lt;!&ndash;course-box&ndash;&gt;-->
            <!--</div>&lt;!&ndash;item&ndash;&gt;-->
            <!--<div class="item">-->
                <!--<div class="course-box">-->
                    <!--<a class="thumb" href="#">-->
                        <!--<img src="images/g3.jpg" alt="" class="img-responsive">-->
                        <!--<span class="price-tag skin">$99</span>-->
                    <!--</a>-->
                    <!--<div class="course-desc">-->
                        <!--<h4><a href="#">Angular js</a></h4>-->
                        <!--<span>By John Doe</span>-->
                        <!--<div class="desc-footer">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-6">-->
                                    <!--<span><i class="fa fa-users"></i> 65</span> -->
                                <!--</div>-->
                                <!--<div class="col-xs-6 text-right">-->
                                    <!--<a href="#">Apply <i class="fa fa-edit"></i></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div> &lt;!&ndash;course-box&ndash;&gt;-->
            <!--</div>&lt;!&ndash;item&ndash;&gt;-->
            <!--<div class="item">-->
                <!--<div class="course-box">-->
                    <!--<a class="thumb" href="#">-->
                        <!--<img src="images/g4.jpg" alt="" class="img-responsive">-->
                        <!--<span class="price-tag skin">$299</span>-->
                    <!--</a>-->
                    <!--<div class="course-desc">-->
                        <!--<h4><a href="#">Wordpress</a></h4>-->
                        <!--<span>By John Doe</span>-->
                        <!--<div class="desc-footer">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-6">-->
                                    <!--<span><i class="fa fa-users"></i> 244</span> -->
                                <!--</div>-->
                                <!--<div class="col-xs-6 text-right">-->
                                    <!--<a href="#">Apply <i class="fa fa-edit"></i></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div> &lt;!&ndash;course-box&ndash;&gt;-->
            <!--</div>&lt;!&ndash;item&ndash;&gt;-->
            <!--<div class="item">-->
                <!--<div class="course-box">-->
                    <!--<a class="thumb" href="#">-->
                        <!--<img src="images/g5.jpg" alt="" class="img-responsive">-->
                        <!--<span class="price-tag skin">$59969</span>-->
                    <!--</a>-->
                    <!--<div class="course-desc">-->
                        <!--<h4><a href="#">Illustrate</a></h4>-->
                        <!--<span>By John Doe</span>-->
                        <!--<div class="desc-footer">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-6">-->
                                    <!--<span><i class="fa fa-users"></i> 87</span> -->
                                <!--</div>-->
                                <!--<div class="col-xs-6 text-right">-->
                                    <!--<a href="#">Apply <i class="fa fa-edit"></i></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div> &lt;!&ndash;course-box&ndash;&gt;-->
            <!--</div>&lt;!&ndash;item&ndash;&gt;-->
            <!--<div class="item">-->
                <!--<div class="course-box">-->
                    <!--<a class="thumb" href="#">-->
                        <!--<img src="images/g6.jpg" alt="" class="img-responsive">-->
                        <!--<span class="price-tag skin">$299</span>-->
                    <!--</a>-->
                    <!--<div class="course-desc">-->
                        <!--<h4><a href="#">Web Design</a></h4>-->
                        <!--<span>By John Doe</span>-->
                        <!--<div class="desc-footer">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-6">-->
                                    <!--<span><i class="fa fa-users"></i> 1056</span> -->
                                <!--</div>-->
                                <!--<div class="col-xs-6 text-right">-->
                                    <!--<a href="#">Apply <i class="fa fa-edit"></i></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div> &lt;!&ndash;course-box&ndash;&gt;-->
            <!--</div>&lt;!&ndash;item&ndash;&gt;-->
            <!--<div class="item">-->
                <!--<div class="course-box">-->
                    <!--<a class="thumb" href="#">-->
                        <!--<img src="images/g7.jpg" alt="" class="img-responsive">-->
                        <!--<span class="price-tag skin">$399</span>-->
                    <!--</a>-->
                    <!--<div class="course-desc">-->
                        <!--<h4><a href="#">Andriod App</a></h4>-->
                        <!--<span>By John Doe</span>-->
                        <!--<div class="desc-footer">-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-6">-->
                                    <!--<span><i class="fa fa-users"></i> 452</span> -->
                                <!--</div>-->
                                <!--<div class="col-xs-6 text-right">-->
                                    <!--<a href="#">Apply <i class="fa fa-edit"></i></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div> &lt;!&ndash;course-box&ndash;&gt;-->
            <!--</div>&lt;!&ndash;item&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
</div><!--courses slider container end-->
<div class="space70"></div>
<!--<div class="pattern-bg">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-6 margin-btm-30">-->
                <!--<h3 class="text-uppercase left-title margin-btm-40">Upcoming Events</h3>-->
                <!--<ul class="list-unstyled event-box">-->
                    <!--<li class=" clearfix">-->
                        <!--<div class="date">-->
                            <!--25<br>June-->
                        <!--</div>-->
                        <!--<div class="event-content">-->
                            <!--<h4><a href="#">Startup for mobile apps</a></h4>-->
                            <!--<p><i class="fa fa-clock-o"></i> 11:00 Am - 3:00 Am</p>-->
                            <!--<p><i class="fa fa-map-marker"></i> Seminar Campus</p>-->
                            <!--<p><a href="#">View Details <i class="fa fa-caret-right"></i></a></p>-->
                        <!--</div>-->
                    <!--</li>&lt;!&ndash;li&ndash;&gt;-->
                    <!--<li class=" clearfix">-->
                        <!--<div class="date">-->
                            <!--25<br>June-->
                        <!--</div>-->
                        <!--<div class="event-content">-->
                            <!--<h4><a href="#">Startup for mobile apps</a></h4>-->
                            <!--<p><i class="fa fa-clock-o"></i> 11:00 Am - 3:00 Am</p>-->
                            <!--<p><i class="fa fa-map-marker"></i> Seminar Campus</p>-->
                            <!--<p><a href="#">View Details <i class="fa fa-caret-right"></i></a></p>-->
                        <!--</div>-->
                    <!--</li>&lt;!&ndash;li&ndash;&gt;-->
                    <!--<li class="text-right">-->
                        <!--<a href="#" class="btn btn-border-skin">View All Events <i class="fa fa-angle-right"></i></a>-->
                    <!--</li>-->
                <!--</ul>&lt;!&ndash;ul&ndash;&gt;-->
            <!--</div>&lt;!&ndash;col&ndash;&gt;-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="other-info">
    <div class="container">
        <ul class="row list-unstyled">
            <li class="col-md-4 shaded-bg">
                <h4 class="main-heading">
                    Próximos Eventos
                </h4>
                <ul  class="seminars list-unstyled">
                    <li>
                        <h5><a href="#">Annual Parents Meeting</a></h5>
                        <p class="info"><span>March 20, 2016</span>, 11:00Am - 3:00Pm</p>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content... <a href="#">MORE</a>
                        </p>
                    </li>
                    <li>
                        <h5><a href="#">Annual Parents Meeting</a></h5>
                        <p class="info"><span>March 20, 2016</span>, 11:00Am - 3:00Pm</p>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content... <a href="#">MORE</a>
                        </p>
                    </li>
                    <li>
                        <h5><a href="#">Annual Parents Meeting</a></h5>
                        <p class="info"><span>March 20, 2016</span>, 11:00Am - 3:00Pm</p>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content... <a href="#">MORE</a>
                        </p>
                    </li>
                </ul>
            </li>
            <li class="col-md-4 white-bg">
                <h4 class="main-heading">
                    Latest News                            
                </h4> 
                <div class="latest-news">
                    <a href="#" class="thumb">
                        <img src="images/g1.jpg" class="img-responsive" alt="" width="100"> 
                    </a>
                    <div class="news-content">
                        <h5><a href="#">Loem ipsum dolor amet</a></h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content... <a href="#">MORE</a>
                        </p>
                    </div>
                </div>
                <div class="latest-news">
                    <a href="#" class="thumb">
                        <img src="images/g7.jpg" class="img-responsive" alt="" width="100"> 
                    </a>
                    <div class="news-content">
                        <h5><a href="#">Loem ipsum dolor amet</a></h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content... <a href="#">MORE</a>
                        </p>
                    </div>
                </div>
                <div class="latest-news">
                    <a href="#" class="thumb">
                        <img src="images/g8.jpg" class="img-responsive" alt="" width="100"> 
                    </a>
                    <div class="news-content">
                        <h5><a href="#">Loem ipsum dolor amet</a></h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content... <a href="#">MORE</a>
                        </p>
                    </div>
                </div>
            </li>
            <li class="col-md-4 shaded-bg">
                <h4 class="main-heading">
                    Register Now                          
                </h4> 
                <p class="lead">
                    It is a long established fact that a reader will be distracted by the readable content...
                </p>
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                    <div class="text-center">
                        <input type="button" class="btn btn-skin btn-lg btn-block" value="Submit">
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>
<div class="pattern-bg">
    <div class="container">
        <div class="center-heading margin-btm-50">
            <h2>Happy Students</h2>
            <span class="border-width"></span>
            <p>It is a long established fact that a reader will be distracted by the readable content</p>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">

        </div>
    </div>
</div>
</div>