<div class="container">
    <div class="row">
        <div class="col-md-9 margin-btm-40 margin-top-20" id="requirements">
            <h3>Requisitos</h3>
                <hr>
                    <div class="space30"></div>
                        <div class="row">
                            <ul class="fa-ul">
                                <p><li><i class="fa fa-check-circle"></i>  1 Pueden ser miembros todas las personas naturales interesadas en el logro de los objetivos fijados por la asociación ICES
                                </li></p>
                                 <p><li><i class="fa fa-check-circle"></i>  2 La asociación está compuesta solamente de miembros individuales, es decir, personas naturales.
                                 </li></p>
                                <p><li><i class="fa fa-check-circle"></i>  3 Las solicitudes de admisión son dirigidas a la Directiva. La Directiva admite nuevos miembros e informa de la decisión en la Asamblea General.
                                </li></p>
                                <p><li><i class="fa fa-check-circle"></i>  4 La calidad de miembro se pierde:
                                </li></p>
                                <li class="margin-left-20"><i class="fa fa-arrow-right"></i>Por propia renuncia. En cualquier caso la suscripción anual queda pagada.
                                </li>
                                 <li class="margin-left-20"><i class="fa fa-arrow-right"></i>Por la expulsión por “motivos justos“. La expulsión es responsabilidad de la Directiva. La persona en cuestión puede apelar a esta decisión frente a la Asamblea General. El no pago repetido de suscripciones (2 años) causa la expulsión directa de la Asociación.  
                                </li>
                            </ul>
                    </div>
        </div>
        <div class="col-md-9 margin-btm-40 margin-top-20" id="benefit">
            <h3>Beneficios de ser miembro</h3>
                <hr>
                    <div class="space30"></div>
                        <div class="row">
                      Al ser parte de ICES podrás:
                        Formar una red de contactos
                        Recibir directamente (por e-mail) tanto información de actividades de la asociación, así como el boletín informativo.
                        Tener descuentos en la inscripción de eventos organizados por ICES.
                        Tener la posibilidad de obtener asesoramiento de parte de nuestra red de apoyo.
                        Participar en la Asamblea General. Las competencias de la Asamblea General son las siguientes:
                        adopta y modifica los estatutos.
                        elige los miembros de los órganos de la Asociación.
                        determina las directrices de trabajo y dirige la actividad de la Asociación.
                        aprueba los informes y cuentas, y vota el presupuesto.
                        le entrega la responsabilidad de su dirección a la Directiva, al órgano financiero y al órgano encargado de la difusión.
                        fija la suscripción anual de los miembros.
                        adopta una postura sobre nuevos proyectos presentados a la orden del día.
                        Publicar tus artículos en nuestras plataformas de comunicación.
                        Enterarte de las actividades de chilenos investigadores en el extranjero.
                        Conocer fondos de financiamiento para proyectos de cooperación, becas estudiantiles, etc.
                        Mantener un vínculo profesional con instituciones chilenas y suizas en tu área de desempeño.
                        Sentirse gratificado por apoyar una noble iniciativa. Muchas gracias por hacerte miembro de la comunidad ICES!
                        </div>
        </div>
           <div class="col-md-9 margin-btm-40 margin-top-20" id="membership">
            <h3>Membresia Anual</h3>
                <hr>
                    <div class="space30"></div>
                        <div class="row">
                           Para ser parte de nuestra comunidad te pedimos una cooperación de:

Estudiantes: CHF 25.00
Profesionales: CHF 50.00

Puedes hacer tu depósito o transferencia a la siguiente cuenta suiza:

Nombre : Investigadores Chilenos en Suiza ICES
Número de cuenta: 14-407345-5
Dirección: Chemin de Longeraie 7, 1006 Lausanne

No olvides enviarnos un correo con la confirmación del pago a contacto@ices-net.ch. Muchas gracias!


                        </div>
        </div>
          <div class="col-md-9 margin-btm-40 margin-top-20" id="form">
            <h3>Formulario</h3>
                <hr>
                    <div class="space30"></div>
                        <div class="row">
                           
                    </div>
        </div>
    </div>
</div>     