<div class="container">
    <div class="row">
        <div class="col-md-9 margin-btm-40 margin-top-20" id="requirements">
            <h3>{{'TITLE_REQUIREMENT' | translate}}</h3>
                <hr>
                    <div class="space30"></div>
                        <div class="row margin-left-30 margin-right-30">
                            <ul class="fa-ul">
                                <p><li><i class="fa fa-check-circle"></i>  
                                {{'REQUIREMENT1' | translate}}
                                </li></p>
                                 <p><li><i class="fa fa-check-circle"></i> 
                                 {{'REQUIREMENT2' | translate}} 
                                 </li></p>
                                <p><li><i class="fa fa-check-circle"></i>  
                                {{'REQUIREMENT3' | translate}}
                                </li></p>
                                <p><li><i class="fa fa-check-circle"></i>  
                                {{'REQUIREMENT4' | translate}}
                                </li></p>
                                <li class="margin-left-20"><i class="fa fa-arrow-right"></i>{{'REQUIREMENT4_A' | translate}}
                                </li>
                                 <li class="margin-left-20"><i class="fa fa-arrow-right"></i>{{'REQUIREMENT4_B' | translate}} 
                                </li>
                            </ul>
                    </div>
        </div>
        <div class="col-md-9 margin-btm-40 margin-top-20" id="benefit">
            <h3>{{'TITLE_BENEFIT' | translate}}</h3>
                <hr>
                    <div class="space30"></div>
                        <div class="row margin-left-30 margin-right-30">
                      {{'SUB_TITLE_BENEFIT' | translate}}
                      <br>
                        <ul class="fa-ul">
                            <p><li><i class="fa fa-check-circle"></i>
                            {{'BENEFIT1' | translate}}
                            </li>
                            </p>
                            <p><li><i class="fa fa-check-circle"></i>
                            {{'BENEFIT2'| translate}}
                            </li>
                            </p> 
                             <p><li><i class="fa fa-check-circle"></i>
                            {{'BENEFIT3'| translate}}
                            </li>
                            </p> 
                            <p><li><i class="fa fa-check-circle"></i>
                             {{'BENEFIT4' | translate}}
                            </li>
                            </p> 
                            <p><li><i class="fa fa-check-circle"></i>
                            {{'SUB_TITLE_BENEFIT5' | translate}}
                            </li><p>
                            {{'SUB_TITLE_BENEFIT5_A' | translate}}</p>
                             <li class="margin-left-20"><i class="fa fa-arrow-right"></i>{{'BENEFIT5_A' | translate}}
                                </li>
                                 <li class="margin-left-20"><i class="fa fa-arrow-right"></i>{{'BENEFIT5_B' | translate}} 
                                </li>
                                <li class="margin-left-20"><i class="fa fa-arrow-right"></i>{{'BENEFIT5_C' | translate}} 
                                </li>
                                <li class="margin-left-20"><i class="fa fa-arrow-right"></i>{{'BENEFIT5_D' | translate}} 
                                </li>
                                <li class="margin-left-20"><i class="fa fa-arrow-right"></i>{{'BENEFIT5_E' | translate}} 
                                </li>
                                <li class="margin-left-20"><i class="fa fa-arrow-right"></i>{{'BENEFIT5_F' | translate}} 
                                </li>
                                <li class="margin-left-20"><i class="fa fa-arrow-right"></i>{{'BENEFIT5_G' | translate}} 
                                </li>
                            </p> 
                            <p><li><i class="fa fa-check-circle"></i>
                            {{'BENEFIT6' | translate}}
                            </li>
                            </p>
                            <p><li><i class="fa fa-check-circle"></i>
                            {{'BENEFIT7' | translate}}
                            </li>
                            </p> 
                            <p><li><i class="fa fa-check-circle"></i>
                             {{'BENEFIT8' | translate}}
                            </li>
                            </p> 
                            <p><li><i class="fa fa-check-circle"></i>
                             {{'BENEFIT9' | translate}}
                            </li>
                            </p> 
                            <p><li><i class="fa fa-check-circle"></i>
                            {{'BENEFIT10' | translate}}
                            </li>
                            </p>                        
                      </ul>
                        </div>
        </div>
           <div class="col-md-9 margin-btm-40 margin-top-20" id="membership">
            <h3>{{'TITLE_ANNUAL_MEMBERSHIP' | translate}}</h3>
                <hr>
                    <div class="space30"></div>
                        <div class="row margin-left-30 margin-right-30">
                          <p> {{'REQUIREMENT_MEMBERSHIP' | translate}}</p>
                            {{'OPTION1' | translate}}<br>
                            {{'OPTION2' | translate}}<br>
                            {{'SUB_TITLE_BANK' | translate}}<br>
                            <strong>{{'NAME_ACCOUNT'| translate}}<br>
                            {{'NUMBER_ACCOUNT' | translate}}<br>
                            {{'ADDRESS_ACCOUNT' | translate}}</strong><br>
                            {{'COMMENT_ACCOUNT' | translate}}     
                        </div>
        </div>
          <div class="col-md-9 margin-btm-40 margin-top-20" id="form">
            <h3>{{'SIGN_FORM' | translate}}</h3>
                <hr>
                    <div class="space30"></div>
                        <div class="row margin-left-30 margin-right-30">
                           {{'SUB_TITLE_FORM' | translate}}
                    </div>
        </div>
    </div>
</div>     