<div class="container">
    <div class="row">
        <div class="col-md-9 margin-btm-40 margin-top-20">
            <h3>{{'TITLE_STUDY' | translate}}</h3>
                <hr>
                    <div class="space30"></div>
                        <div class="row margin-left-30 margin-right-30">
                            <ul class="fa-ul">
                                <li><strong><i class="glyphicon glyphicon-hand-right"></i>{{'QUESTION1' | translate}} </strong>
                                </li>
                                <p>
                                {{'ANSWER1' | translate}}
                                </p>
                                <li><strong><i class="glyphicon glyphicon-hand-right"></i> {{'QUESTION2' | translate}}</strong>
                                </li>
                                <p>
                                    {{'ANSWER2' | translate}}
                                 </p>
                                 <li><strong><i class="glyphicon glyphicon-hand-right"></i>{{'QUESTION3' | translate}}</strong>
                                </li>
                                <p>{{'ANSWER3' | translate}}
                                </p>
                                 <li><strong><i class="glyphicon glyphicon-hand-right"></i>{{'QUESTION4'| translate}}</strong>
                                </li>
                                <p>{{'ANSWER4' | translate}}</p>
                                 <li><strong><i class="glyphicon glyphicon-hand-right"></i>{{'QUESTION5' | translate}}</strong>
                                </li>
                                <p>{{'ANSWER5' | translate}}</p>
                                 <li><strong><i class="glyphicon glyphicon-hand-right"></i>{{'QUESTION6' | translate}}</strong>  
                                </li>     
                                <p>{{'ANSWER6' | translate}} <a href="http://www.budgetberatung.ch/Exemples-de-budget.19+M52087573ab0.0.html" target="blank">Budgetberatung</a></p>                 </ul>            
                            </div>
            </div>
</div>
</div> 
<div class="space70"></div>
        <div class="newsletter-section">
            <div class="container">
            </div>
        </div>   